---
blog:
  posts:
    limit: 3
    summary: 400
---

{{#partial "page"}}

<div class="category-hero" data-category-name="blog">
  <div class="category-hero-border">
    <div class="category-hero-inner">
      <div class="category-hero-border-inner">
        <div class="category-hero-border-inner-inner">
          <h1 class="page-heading">Welcome to the Claire Burke&reg; Blog!</h1>
          <div class="page-description">{{blog.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="blog-index content">
    {{#each blog.posts}}
      {{> components/blog/blog-item this}}
    {{/each}}

    {{> components/common/pagination pagination.blog}}
  </div>

</div>

{{/partial}}

{{> layout/base}}
