---
carousel: true
products:
  featured:
    limit: 12
---

{{#partial "page"}}

  {{> components/common/shipping-messages}}

  {{#if carousel}}
    {{inject 'carouselDelay' carousel.swap_frequency}}
    {{> components/carousel}}
  {{/if}}
  {{{snippet 'home_content'}}}
  
  <h2 class="page-heading lowest-price-guarantee"><a href="//myclaireburke.com/lowest-price-guarantee/">Lowest Price/Happiness Guarantee!</a></h2>

  <div class="home">
    <section class="homepage-banners-wrap">
      <a class="homepage-banners everyday-home-fragrances" href="/everyday-fragrances/"><h3>Everyday Home Fragrances</h3></a>
      <a class="homepage-banners holiday-home-fragrances" href="/holiday-fragrances/"><h3>Holiday Home Fragrances</h3></a>
    </section>
    
    {{> components/products/products-featured products=products.featured quick_shop=../theme_settings.product-quick-shop}}
  </div>

{{/partial}}

{{> layout/base}}
