{{#if category.id '===' 30}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Amazing Scent</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Applejack Lover on 1st Aug 2016</span>
        </header>
        <section class="review-comment">Wonderful cinnamon apple smell! We've  been using this oil for years and every time a guest or family member comes to visit, they always inhale deeply and smile, exclaiming, "Your house smells so good!" One simmer pot on the stove scents the entire home. We don't have a large house, but it's old and we have pets, so I'm always concerned about a musty smell, but not with Applejack &amp; Peel! This is the quintessential fall and winter scent for me, and I even use it in the warmer months, as well. Please don't ever discontinue this product!</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">The Best!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Jonathan S Davis on 9th Jan 2017</span>
        </header>
        <section class="review-comment">The Apple Jack and Peel scent is the best in its class and my favorite Claire Burke Scent. Although it is identified with the Holidays,  it can be used year 'round and in combination with other scents. Christmas would not be the same without this wonderful aroma wafting through my home! </section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">THE best fragrance product for your home. </h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Tee on 14th Aug 2013</span>
        </header>
        <section class="review-comment">I have loved Applejack and Peel for years. I couldn't find it in retail stores anymore, so I decided to go online and order it. My house smells wonderful! Now when you come in, you are greeted with such a wonderful scent. Candles help boost the scent of the potpourri. LOVE THIS FRAGRANCE!!! </section>
      </article>
    </div>
  </div>
</div>
{{/if}}

{{#if category.id '===' 23}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">My House smells like Grandma's!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Mindy 2250 on 25th Jul 2016</span>
        </header>
        <section class="review-comment">I love Claire Burke Original fragrance!   My dear mother--in-law always  used it, but I never knew her secret.  Two years ago she movesd to a retire home.  On my first visit, that smell, it was there.  She finally confessed her secret.  Now, I order about every four months various original products.  I bought the oil this last time.  It last a long time.  Claire Burke it's worth the money to hear my son's come home for a visit and exclaim.  Mom your house smells like Grandma's house.</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Same great fragrance</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#empty-star" href="#empty-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">4</span>
      </div>
          </div>
            <time class="review-date">18th Jul 2017</time>
        </header>
        <section class="review-comment">As far as I can tell, the fragrance is the same as what was purchased  10 years + ago.
      
      I won't need to buy anymore for awhile as I have 2 bottles.
      
      When I smell the Original fragrance, I  get a pleasing "wash" all over.</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Wonderful Room Spray</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Adrienne Halphen on 20th Nov 2016</span>
        </header>
        <section class="review-comment">Love Claire Burke  I've been using their products for years now.  I do not buy any other.</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">AMAZING FRAGRANCE!!!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Linda Radel on 7th Jun 2016</span>
        </header>
        <section class="review-comment">For many years, my sister would have Claire Burke "Original" Potpourri sitting in baskets or bowls and scattered throughout her house and the Home Fragrance Spray was in every bathroom and her kitchen.  Every once in a while, she'd splurge and purchase an "Original" Botanical Candle or two!  Well, my much-loved sister passed away a few months ago, and, wanting something personal to her to which I could cling, I purchased these Fragrance Warmer Refills and the plug-in units in which to warm the scent.  Now, I love walking into my own house and smelling a wonderful fragrance that reminds me of so many happy times, spent in her home, with my amazing sister!  Thank You, Claire Burke, for continuing to produce, in so many convenient forms, this timeless scent...I've been slowly filling my home with many of the options available!!</section>
      </article>
    </div>
  </div>
</div>
{{/if}}

{{#if category.id '===' 34}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Love, love, love it!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Cheri on 30th Mar 2016</span>
        </header>
        <section class="review-comment">This is my favorite scent for my home. It's fragrance always gives me a boost. It's crisp, fresh, and light and always welcoming. I'm not able to find this scent in the stores in my area so I always stock up online. </section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Nice subtle Fragrance</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by carol Casey on 4th Jun 2017</span>
        </header>
        <section class="review-comment">I switched to this a year or so from the Original to  Sparkling Citron Verbena and have been so satisfied with the fragrance I won't go back. It's a nice subtle smell.</section>
      </article>
    </div>
  </div>
</div>
{{/if}}

{{#if category.id '===' 38}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Long lasting fragrance</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <time class="review-date">14th Aug 2013</time>
        </header>
        <section class="review-comment">A refreshing smell that last a long time after burning.</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">perfect for bathroom</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <time class="review-date">5th Aug 2016</time>
        </header>
        <section class="review-comment">Smells clean like baby powder</section>
      </article>
    </div>
  </div>
</div>
{{/if}}

{{#if category.id '===' 42}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Holiday welcoming</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Yvonne on 1st Jan 2015</span>
        </header>
        <section class="review-comment">I love simmering oils and the Christmas Memories fragrance is one of my favorites. Visiting guests were greeted by the fragrance that put them right into the holiday spirit. The fragrance lingered all evening.
        </section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Christmas in a can</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Adrienne Halphen on 20th Nov 2016</span>
        </header>
        <section class="review-comment">If you want the smell of Christmas through out your home  this is the spray you want.  I spray my artificial tree with it and it make the tree smell real.  Love all of Claire Burke products.</section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Oh the Memories!!!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Miss Sarah on 23rd Jan 2017</span>
        </header>
        <section class="review-comment">I haven't purchased this for 20+ years and when I received my order in the mail........
      Oh the Memories!!!  I had forgotten how much I love this fragrance!!</section>
      </article>
    </div>
  </div>
</div>
{{/if}}

{{#if category.id '===' 44}}
<div id="user-reviews">
  <div class="product-reviews">
    <div class="reviews">
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
        <a class="rating-total-votes" href="#user-reviews">(2)</a>
      </div>
      <h3 class="section-title">See what our customers are saying about {{category.name}}!</h3>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Freshest tree smell ever!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <span class="review-meta">Posted by Mary on 3rd Jan 2014</span>
        </header>
        <section class="review-comment">Awesome fresh tree smell. Throughout the holiday season I received compliments on how great our fresh tree smelled, only when I said our tree was ten years old did I tell them my Claire Burke secret:-) </section>
      </article>
      <article class="review default">
        <header class="review-header">
          <h1 class="review-title">Great pine scent!</h1>
          <div class="review-rating">
            
      <div class="product-rating">
        <div class="rating-stars-readonly" aria-hidden="true">
          <svg class="rating-stars" viewBox="0 0 200 40"> 
            <use xlink:href="#full-star" href="#full-star" x="-80"></use>
            <use xlink:href="#full-star" href="#full-star" x="-40"></use>
            <use xlink:href="#full-star" href="#full-star" x="0"></use>
            <use xlink:href="#full-star" href="#full-star" x="40"></use>
            <use xlink:href="#full-star" href="#full-star" x="80"></use>
          </svg>
        </div>
        <span class="rating-total-score sr-only">5</span>
      </div>
          </div>
            <time class="review-date">15th Dec 2014</time>
        </header>
        <section class="review-comment">This potpourri is both fragrant and beautiful! Love the "iced" pine needles!</section>
      </article>
    </div>
  </div>
</div>
{{/if}}
