<!doctype html>
<html class="no-js" lang="{{ locale_name }}">
<head>
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>

  <title>{{head.title}}</title>

  {{{head.meta_tags}}}
  {{{head.config}}}

  <link href="{{head.favicon}}" rel="shortcut icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {{> components/common/icons/social}}
  {{{stylesheet '/assets/css/theme.css'}}}
  {{ getFontsCollection }}

  {{{head.scripts}}}
  {{{head.rsslinks}}}
  {{inject 'themeImageSizes' theme_settings._images}}
  {{> components/common/global-injects}}
  {{{snippet 'htmlhead'}}}
  {{#if page_type '===' 'product'}}
    {{> components/common/facebook-like}}
  {{else if page_type '===' 'blog' }}
    {{> components/common/facebook-like}}
  {{else if page_type '===' 'blog_post' }}
    {{> components/common/facebook-like}}
  {{/if}}

  {{> core/structured-data/website}}
</head>

<body class="{{page_type}} {{#unless in_production}}dev-environment{{/unless}}">
  {{{snippet 'header'}}}

  {{> components/common/banners banners location="top"}}

  {{> components/header}}

  <main class="main-content">
    {{#block "page"}}{{/block}}
  </main>

  {{> core/structured-data/breadcrumbs}}

  <script src="{{cdn '/assets/js/bundle.js'}}"></script>
  <script>
    // Exported in app.js
    window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
  </script>

  {{> components/footer}}

  {{> components/common/banners banners location="bottom"}}

  {{{footer.scripts}}}
  {{{snippet 'footer'}}}
</body>
</html>
