
<div class="product-rating">
  <div class="rating-stars-readonly" aria-hidden="true">
    <svg class="rating-stars" viewBox="0 0 200 40"> 
        {{#for 1 5}}
          <use {{#if ../rating '>=' $index}}xlink:href="#full-star" href="#full-star" {{else}} xlink:href="#empty-star" href="#empty-star"{{/if}} x="{{ multiply (subtract $index 3) 40}}"></use>
        {{/for}}
    </svg>
  </div>
  <span class="rating-total-score sr-only">{{this.rating}}</span>
  {{#if aggregate}}
    <a class="rating-total-votes" href="#user-reviews">({{product.num_reviews}})</a>
  {{/if}}
</div>
